{# templates/admin/custom_view.html.twig #}

{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block breadcrumb %} <li><a href="{{ url('sonata_admin_dashboard') }}">{% trans %}Home{% endtrans %}</a></li> 
    <li class="active">Settings</li> 
{% endblock %}

{% block sonata_admin_content %}
{% if app.session is not null and app.session.started %}
    {% for label, messages in app.session.flashbag.all %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
            {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
    
<a class="btn btn-app" href="{{ path('admin_gekomod_settings_settings_cache') }}">
                <i class="fa fa-remove"></i> Clear Cache
</a>
<a class="btn btn-app" href="{{ path('admin_gekomod_settings_settings_update') }}">
                <i class="fa fa-cloud-download"></i> Check Update
</a>
<a class="btn btn-app">
                <i class="fa fa-road"></i> Show Router's
</a>
                
                <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_1" data-toggle="tab">Settings</a></li>
              <li><a href="#tab_2" data-toggle="tab">Package Information</a></li>
              <li><a href="#tab_3" data-toggle="tab">Tab 3</a></li>
              <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
               
                    {{ form_start(form, {'method': 'POST', 'attr': {'class': 'form-horizontal'}}) }}
              <div class="box-body">
                  {{ form_errors(form) }}
    {% for single_frequency in form.name %}
       
        <div class="form-group">
{{  form_widget(single_frequency.name) }}

                  <label for="inputEmail3" class="col-sm-2 control-label">{{ single_frequency.name.vars.value|upper }}</label>

                  <div class="col-sm-10">
                      {{ form_widget(single_frequency.var,{'attr': {'class': 'form-control', 'placeholder': 'NAZWAAAAA','full_name': single_frequency.name.vars.value} }) }}
                  </div>
                  
                        <div class="form-error">
                            {{ form_errors(single_frequency.var) }}
                        </div>
                </div>
    {% endfor %}

              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-info pull-right">Save</button>
              </div>
              <!-- /.box-footer -->
            </form>
                  
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_2">
                
<div class="box-body no-padding">
              <table class="table">
                <tbody><tr>
                  <th style="width: 250px">#</th>
                  <th>{% trans %}descripion{% endtrans %}</th>
                  <th style="width: 300px">{% trans %}version{% endtrans %}</th>
                  <th>{% trans %}exists{% endtrans %}</th>
                </tr>

                  {% for key, package in packages %}
                      {% set counter = ( counter | default(0) ) + 1 %}
                  <script>
                      $.get('{{ package.source|replace({'https://github.com/': 'https://api.github.com/repos/', '.git': "/"}) }}releases/latest', function (data) {
                        $('#ver_{{ counter }}').html(data.tag_name);
                      });
                      </script>
                      <tr>
                  <td><a href="?name={{ package.name }}">{{ key }}</a></td>
                  <td>{{ package.description }}</td>
                  <td>{{ package.version }} - <div style="display: initial;" id="ver_{{ counter }}"></div></td>
                  <td><span class="badge bg-green">{{ package.exists }}</span></td>
                </tr>
                  {% endfor %}
 
                  
                              </tbody></table>
            </div>
                
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_3">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                like Aldus PageMaker including versions of Lorem Ipsum.
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>    
{% endblock %}